ul {
    padding: 10px;
    text-align: center;
}

li {
    padding: 4%;
    list-style: none;
    text-align: center;
    color: white;
}

li:hover{
    transform: scale(1.05);
    transition:0.5s;
}