/*.navbar{
    background-color: skyblue;
}


.navbar-light .navbar-brand {
    color: white;
}


.navbar-light .navbar-brand {
    color: white;
}
*/

#shoppingCart:hover {
    transform: scale(1.1);
    background-color: lightcyan;
}
